body {
  max-width: 600px;
  margin: 0 auto;
  font-family: ubuntu, arial, sans-serif;
  padding: 25px 25px;
}

h1 {
  display: none;
}

h2 {
  text-align: center;
  border-bottom: 1px solid rgb(0 0 0 / 25%);
}

#this_as_webpage {
  display: none;
}

summary {
  user-select: none;
}

p {
  text-align: justify;
}

/* unvisited link */
a:link {
  color: gray;
}

/* visited link */
a:visited {
  color: gray;
}

/* mouse over link */
a:hover {
  color: lightgray;
}

/* selected link */
a:active {
  color: lightgray;
}

.contacts {
  display: grid;
  grid-template-columns: auto auto;
}

.contacts ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}

@media (min-width: 400px) {
  .contacts ul {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 25px;
    justify-content: space-around;
  }
}

.contacts li {
  text-align: left;
}

.contacts li:nth-of-type(1) {
  order: 1;
}

.contacts li:nth-of-type(2) {
  order: 3;
}

.contacts li:nth-of-type(3) {
  order: 2;
}

.contacts li:nth-of-type(4) {
  order: 4;
}
